<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Clinique Abernathy</title>
<link rel="stylesheet"
	href="webjars/bootstrap/4.0.0-2/css/bootstrap.min.css" />

</head>

<body>
	<div class="container">
		<div th:switch="${historiques}">
			<h2 th:case="null">Pas encore d'informations disponibles!</h2>
			<div th:case="*">
				<div class="row">
					<h2>Historique des patients</h2>
				</div>
				<div class="row">
					<table class="table table-bordered">
						<thead>
							<tr>
								<th>Id Patient</th>
								<th>Notes</th>
								<!-- 								<th>Nom Patient</th> -->
								<th>Edit</th>
								<!--                         <th>Delete</th> -->
							</tr>
						</thead>
						<tbody>
							<tr th:each="historique : ${historiques}">
								<td th:text="${historique.idPatient}"></td>
								<td th:text="${historique.note}"></td>
								<!-- 								<td th:text="${patient.nom}"></td> -->
								<td><a
									th:href="@{/updateHistorique/{id}(id=${historique.id})}">Mise
										à jour de l'historique</a></td>
								<!--    <td><a th:href="@{/delete/{id}(id=${issue.id})}">Delete</a></td> -->
							</tr>
						</tbody>
					</table>
				</div>
				<p>
					<a href="/addHistorique">Ajouter une nouvelle note</a>
				</p>
			</div>
		</div>
	</div>

</body>

</html>
