<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Clinique Abernathy</title>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">

</head>

<body class="text-center">
	<div class="container">
		<div class="row">
			<div th:switch="${historiques}">
				<div th:case="*">
					<h2>Historique du patient</h2>
				</div>
				<table class="table table-striped">
					<thead class="text-white">
						<tr class="bg-success">
							<th class="font-weight-normal">Notes</th>
							<!-- 								<th>Nom Patient</th> -->
							<th class="font-weight-normal">Mise à jour</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="historique : ${historiques}">
							<td th:text="${historique.note}"></td>
							<td><a
								th:href="@{/updateHistorique/{id}(id=${historique.id})}">Mettre
									à jour</a></td>
					</tbody>
				</table>
				<div class="row">
					<div class="col-6">
						<div>
							<a
								th:href="@{/addNote/{idPatient}(idPatient=${historique.idPatient})}">Ajouter
								une nouvelle note</a>
						</div>
						<div>
							<a href="/patients">Retour à la liste des patients</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>

</html>
