<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="utf-8" />
<title>Clinique Abernathy</title>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">

</head>

<body class="text-center">

	<div class="card">
		<div class="card text-dark bg-white mb-3">
			<div class="card-header">
				<header>
					<img src="logo.png" class="rounded float-left" alt="abernathy">
					<h1 class="text-center">Clinique Abernathy</h1>
				</header>
			</div>
		</div>
	</div>
	<div class="container">
		<h2>Liste des Patients</h2>
		<div class="row">
			<table class="table table-striped">
				<thead class="text-white">
					<tr class="bg-success">
						<th class="font-weight-normal">Nom</th>
						<th class="font-weight-normal">Prenom</th>
						<th class="font-weight-normal">Date de Naissance</th>
						<th class="font-weight-normal">Genre</th>
						<th class="font-weight-normal">Adresse</th>
						<th class="font-weight-normal">Numero de téléphone</th>
						<th class="font-weight-normal">Modifier</th>
						<th class="font-weight-normal">Historique</th>
						<th class="font-weight-normal">Rapport Diabete</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="patient : ${patients}">
						<td th:text="${patient.nom}"></td>
						<td th:text="${patient.prenom}"></td>
						<td th:text="${patient.dateNaissance}"></td>
						<td th:text="${patient.genre}"></td>
						<td th:text="${patient.adresse}"></td>
						<td th:text="${patient.numeroTelephone}"></td>
						<td><a
							th:href="@{/updatePatient/{id}(id=${patient.idPatient})}">Modifier</a></td>
						<td><a
							th:href="@{/historique/{idPatient}(idPatient=${patient.idPatient})}">Voir
								historique de ce patient</a></td>
						<td><a
							th:href="@{/rapport/{idPatient}(idPatient=${patient.idPatient})}">Voir
								le rapport de ce patient</a></td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="row">
			<div class="col-6"></div>
			<div class="col-6 text-left">
				<a href="/addPatient">Ajouter un nouveau patient</a>
			</div>
		</div>
	</div>
</body>

</html>
