<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>

  <title>Clinique Abernathy</title>
  <link rel="stylesheet"  href="webjars/bootstrap/4.0.0-2/css/bootstrap.min.css" />

</head>

<body>

<div class="container">



  <h1>Application Clinique Abernathy</h1>



  			<div th:switch="${patients}">
    <h2 th:case="null">Pas encore de patients!</h2>
        <div th:case="*">
            <h2>Patients</h2>
            <table>
                <thead>
                    <tr>
                        <th>Nom</th>
                        <th>Prenom</th>
                        <th>Adresse</th>
<!--                         <th>Edit</th>
                        <th>Delete</th> -->
                    </tr>
                </thead>
                <tbody>
                <tr th:each="patient : ${patients}">
                    <td th:text="${patient.nom}"></td>
                    <td th:text="${patient.prenom}"></td>
                    <td th:text="${patient.adresse}"></td>
                    <!-- <td><a th:href="@{/edit/{id}(id=${user.id})}">Edit</a></td>
                    <td><a th:href="@{/delete/{id}(id=${user.id})}">Delete</a></td> -->
                </tr>
            </tbody>
        </table>
    </div>      
<!--     <p><a href="/signup">Add a new user</a></p> -->
</div>


</body>

</html> 